/*Opmaak algemeen*/
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

    /* Opmaak header*/
#header{
    padding: 10% 0%;
    display: block;
    background-color: #f9771b;
    color: rgb(250, 250, 250);
    text-align: center;
}

    /*Opmaak navigatiemenu*/
.navigatie  ul{
    background-color:#b85301f6;
    text-align: center;
    list-style-type: none;
    margin: 0%;
    }

    .link{
        padding: 3%;
    }
    a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }

    /*Opmaak tekst*/
    p , .titel { 
        padding: 4% 4% 0% 4%;
        }
     /*Opmaak footer*/
        
    .blog{
        padding: 4%;
        display: block;
        font-size: 14px;
    }

    #afbeelding{
        width: 100%;
        float: left;
    }

    hr{
        margin-top: 4%;
    }
    img{
        float: left;
        width: 20%;
        padding: 1%;
    }
     footer{
        background-color:#b85301f6;
        padding: 4% 0%;
        text-align: center;
        font-weight: bold; 
    }
            
        /*Opmaak bij schermen vanaf 768px*/
            @media only screen and (min-width: 768px) {  
    
                [class*="col-"]{
                    float: left;
                } 
            
            .col-1 {width: 8.33%;}
            .col-2 {width: 16.66%;}
            .col-3 {width: 25%;}
            .col-4 {width: 33.33%;}
            .col-5 {width: 41.66%;}
            .col-6 {width: 50%;}
            .col-7 {width: 58.33%;}
            .col-8 {width: 66.66%;}
            .col-9 {width: 75%;}
            .col-10 {width: 83.33%;}
            .col-11 {width: 91.66%;}
            .col-12 {width: 100%;}
            
    body{
        display: inline-block;
    }
    #header{
        padding: 5% 5% 8% 5%;
    }
            /*Opmaak navigatiemenu*/
    .navigatie  ul{
    float: left;
    width: 100%;
    list-style-type: none;
    background-color:#b85301f6;
    margin: 0%;
    border-bottom: solid 4px #f6aa1c;
    }
            
            .link{
                padding: 0%;
            }
        
            a{
                float: left;
                padding: 2%;
            }
            #footer{
                text-align: center;
                width: 70%;
                display: inline-block;
                padding: 1%;
             }
            
            #footer-tekst{
                font-size: 100%;
            }
            }            